body{
    margin: 0;
    font-family: 'poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E5E5;
    /* height: 100vh; */
}
.main{
    max-width: 550px;
    background-color: #FFFFFF;
}
nav{
    box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.1);
    max-width: 550px;
}
nav img{
    padding: 22px 0  22px 30px;
}
.hero-logo{
    padding-top: 26px;
    display: block;
    margin: auto;
}
h1, p{
    margin: 0;
}
.heading{
    font-size: 36px;
    font-weight: 800;
    margin: 32px 0 0 36px;
}
.text{
    width: 320px;
    font-size: 16px;
    color: #222222;
    margin: 0px 0 0 36px;
    font-weight: 300;
}
.card{
    margin-top: 36px;
    margin-bottom: 30px;
    position: relative;
}
.image-logo{
    width: 176px;
    height: 235px;
}
.content-rating{
    display: flex;
}
.content-rating img{
    margin-right: 2px;
}
.rating{
    font-size: 12px;
    color: #222222;
    font-weight: 300;
}
.rating span{
    color: #918E9B;
}
.card-text{
    color: #222222;
    font-weight: 300;
    font-size: 12px;
}
.price-text{
    color: #222222;
    font-weight: 300;
    font-size: 12px;
}
.card-element{
    display: flex;
    gap: 18px;
    margin-left: 37px;
    overflow-y: auto;
}
.spot{
    position: absolute;
    background-color: #FFFFFF;
    padding: 2px 5px;
    margin: 6px;
    border-radius: 2px;
    font-size: 10px;
}